#bio
  @extene .box
  background-color: #ccc
  display: none

  @include landscape
    bottom: 0

  .hd-video &
    @include landscape
      display: block

    @include landscape-small
      display: none
