#header
  position: absolute
  top: 0
  left: 0
  width: 100%
  margin: 0
  padding: 0
  height: 51px

  .brand
    max-width: 200px
    overflow: hidden
    -ms-text-overflow: ellipsis
    text-overflow: ellipsis
    white-space: nowrap
    display: inline-block
    padding-right: 10px

  .container-fluid
    padding: 0 10px
    height: 51px
    @include box-sizing(border-box)

  .btn + .btn
    margin-left: 10px

  .btn-join
    border-color: #de9200
    color: #000000
    background: #fdee00
    @include filter-gradient(#fdee00, #de9200, vertical)
    @include background-image(linear-gradient(top, #fdee00 0%,#de9200 100%))
