#info
  @include transition-property(transform width)
  @include transition-duration(.4s)
  @include apply-origin(top left, true)
  position: absolute
  z-index: 10
  width: $content-width
  @inclue translateZ(0)

  .fullscreen &
    width: 100%

  .info-hidden &
    @include translateY(-100%)
