@import compass
@import variables
@import bootstrap
@import mixins

@include portrait
  .hide-portrait
    display: none !important

@include landscape
  .hide-landscape
    display: none !important

body, html, #wrapper
  @extend .box
  background: #aaa
  overflow: hidden

body
  @include transition(padding .4s)
  position: relative
  padding-top: 51px

  @include landscape
    padding-right: $sidebar-width * 1%

@import header
@import video
