section#models.tab-panel.active
  .container-fluid
    .row-fluid
      .span6
        .well.well-small
          strong Thumb
          img(src="http://lorempixel.com/160/120/abstract")
      .span6
        .well.well-small
          strong Thumb
          img(src="http://lorempixel.com/160/120/abstract")

      .span6
        .well.well-small
          strong Thumb
          img(src="http://lorempixel.com/160/120/abstract")
      .span6
        .well.well-small
          strong Thumb
          img(src="http://lorempixel.com/160/120/abstract")

      .span6
        .well.well-small
          strong Thumb
          img(src="http://lorempixel.com/160/120/abstract")
      .span6
        .well.well-small
          strong Thumb
          img(src="http://lorempixel.com/160/120/abstract")

      .span6
        .well.well-small
          strong Thumb
          img(src="http://lorempixel.com/160/120/abstract")
      .span6
        .well.well-small
          strong Thumb
          img(src="http://lorempixel.com/160/120/abstract")

      .span6
        .well.well-small
          strong Thumb
          img(src="http://lorempixel.com/160/120/abstract")
      .span6
        .well.well-small
          strong Thumb
          img(src="http://lorempixel.com/160/120/abstract")


