section#chat.tab-pane.active

  header
    form.navbar-search
      .controls
        input.search-query.input-block-level
        button.btn.btn-mini.btn-inverse
          #chat-submit.icon-share-alt

  #chat-body
    .well
      ul#chat-output.unstyled
