section#chat.tab-pane.active

  header
    form
      .controls
        input.input-block-level(placeholder="Your Message")
        button.btn.btn-mini.btn-inverse
          #chat-submit.icon-share-alt

  #chat-body
    .well
      #toggle-info.btn Toggle Info
      #toggle-gold.btn Toggle Gold
      //- ul#chat-output.unstyled
