section#sidebar
  header#sidebar-header.navbar.navbar-static-top.navbar-inverse
    .navbar-inner
      .pull-right
        a.brand Company Brand
      .btn.btn-primary Join In

  section#sidebar-body.tab-content
    include chat
    include users
    include models

  footer#sidebar-footer.navbar.navbar-static-top.navbar-inverse
    .navbar-inner
      ul.nav
        li.active: a(href="#chat", data-toggle="tab")
          i.icon-comments
        li: a(href="#users", data-toggle="tab")
          i.icon-group
        li: a(href="#models", data-toggle="tab")
          i.icon-th-large

  #toggle.btn.btn-mini
    i.icon-chevron-down
