#bio.container-fluid
  h3(style="margin-bottom:0") About Big Buck Hunny
  .row-fluid
    .span6
      dl.dl-horizontal
        dt Age
        dd 4
        dt Gender
        dd Male
        dt Sexual Preference
        dd Straight
    .span6
      dl.dl-horizontal
        dt Height
        dd 5'2"
        dt Weight
        dd 7.5 stone
        dt Measurements
        dd 32-25-35"
