header#header.navbar.navbar-static-top.navbar-inverse
  .navbar-inner.container-fluid
    .pull-right
      a.btn.btn-warning Join Free
      a.btn.btn Member Login

    a.brand Streamate

    ul.nav
      li: a New Models
    form.navbar-search.hide-portrait
      input.search-query(type="text", placeholder="Search Anything")
