section#info.navbar.navbar-inverse.navbar-static-top
  .navbar-inner
    .container-fluid
      a.brand(href='#') Big Buck Hunny

      .pull-right
        ul.nav
          li: a: i.icon-remove-sign

