section#info.navbar.navbar-inverse.navbar-static-top
  .navbar-inner
    a.brand(href='#') Company Brand


  .navbar-inner
      a.brand(href='#')
        | Big Buck Hunny &nbsp;
        i.icon-star
        i.icon-star
        i.icon-star
        i.icon-star
        i.icon-star

      ul.nav
        li.divider-vertical
        li: a: i.icon-heart
        li: a: i.icon-envelope
      .pull-right
        ul.nav
          li: a: i.icon-remove-sign

