section#modelinfo.navbar.navbar-inverse.navbar-static-top
  .navbar-inner.container-fluid
    a.brand Big Buck Hunny
      big.rating-stars
        i.icon-star
        i.icon-star
        i.icon-star
        i.icon-star
        i.icon-star

    ul.nav
      li.divider-vertical
      li: a: big: i.icon-heart
      li.divider-vertical
      li: a: big: i.icon-envelope
      li.divider-vertical

    .pull-right
      a.brand: big:  i.icon-remove-sign

